@model HNCJ.Model.OrderInfo

@{
    ViewBag.Title = "支付中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>payment</h2>
@section Content{
    <div class="main-box">
        <div class="section clearfix">
            <script type="text/javascript">
                function afterPaySuccess(data) {
                    if (data.status === 1) {
                        $.post(data.url, function(json) {
                            if (json.status === 1) {
                                window.location.href = json.url;

                            } else {
                                dialog({ title: '提示', content: data.msg, okValue: '确定', ok: function () { } }).width(300).showModal();
                            }
                        });
                        
                    } else {
                        dialog({ title: '提示', content: data.msg, okValue: '确定', ok: function () { } }).width(300).showModal();
                    }
                }
            </script>
            <!--确认订单-->
            @using (Ajax.BeginForm("paymentsubmit", "orderinfo", new AjaxOptions() {OnSuccess = "afterPaySuccess"}))
            {
                <input id="pay_order_no" name="pay_order_no" type="hidden" value="@Model.OrderName"/>
                <input id="pay_order_amount" name="pay_order_amount" type="hidden" value="@Model.Money"/>
                <input id="pay_user_name" name="pay_user_name" type="hidden" value="@Model.UserInfo.UserName"/>


                <!--商品订单-->
                <div class="main-tit">
                    <h2>支付中心</h2>
                </div>
                <div class="inner-box">
                    <div class="dl-list">
                        <dl>
                            <dt>订 单 号：</dt>
                            <dd>@Model.OrderName</dd>
                        </dl>
                        <dl>
                            <dt>收货信息：</dt>
                            <dd>@Model.Address</dd>
                        </dl>

                        <dl>
                            <dt>备注留言：</dt>
                            <dd>@Model.Content</dd>
                        </dl>
                        <dl>
                            <dt>支付金额：</dt>
                            <dd>
                                @Model.Money 元
                            </dd>
                        </dl>
                        <dl>
                            <dt>支付方式：</dt>
                            <dd>@Html.DropDownList("PaymentID", null, new {Class = "select"})</dd>
                        </dl>
                        <dl>
                            <dt></dt>
                            <dd><input id="btnSubmit" name="btnSubmit" type="submit" class="btn" value="确认支付"/></dd>
                        </dl>
                    </div>
                </div>
                <!--/商品订单-->


            }
            <!--/确认订单-->


        </div>
    </div>





}