@model HNCJ.Model.GoodsInfo

@{
    ViewBag.Title = "发布详情";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>DatealsRelease</h2>
@section Content{
    <div class="u-tab-head">
        <p>
          <a  href="/UserInfo/MyRelease">发布列表</a>
            <a  href="/UserInfo/CloseRelease">下架列表</a>
          @*<a  href="javascript:void(0)" onclick="window.history.go(-1);return false;">返回上一页</a>*@
          <a  href="/UserInfo/EditRelease/@Model.ID" >编辑</a>
        </p>
</div>
<div class="u-tab-content">
        <div class="title-div">
          <strong>详细</strong>
        </div>
    <div class="form-box">
        <dl>
            <dt>@Html.LabelFor(model => model.GoodsName, "商品名称")</dt>
            <dd>@Html.DisplayFor(model => model.GoodsName)</dd>
        </dl>
        <dl>
            <dt>
                @Html.LabelFor(model => model.GoodsTypeID, "类型")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GoodsType.TypeName)

            </dd>
        </dl>
        <dl>
            <dt>
                @Html.LabelFor(model => model.GoodsPrice, "价格")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GoodsPrice)

            </dd>
        </dl>
        <dl>
            <dt>
                @Html.LabelFor(model => model.GoodsNum, "数量")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GoodsNum)
            </dd>

        </dl>
        <dl>
            <dt>
                @Html.LabelFor(model => model.GoodsAddress, "所在地")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GoodsAddress)
            </dd>

        </dl>
        <dl>
            <dt>
                @Html.LabelFor(model => model.GoodsRemark, "备注")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GoodsRemark)
            </dd>

        </dl>

    </div>

</div>
    }
