@model IEnumerable<HNCJ.Model.CartInfo>

@{
    ViewBag.Title = "购物车管理";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>MyCart</h2>
@section Content{
    <div class="u-tab-head">
        <p>
          <a class="selected" href="/UserInfo/MyCart">购物车</a>
        </p>
</div>

    <div class="u-tab-content">
        <div class="title-div">
          <strong>列表</strong>
        </div>
        <input id="jsondata" name="jsondata" type="hidden" />
        <table width="100%" border="0" align="center" cellpadding="8" cellspacing="0" class="cart-table">
    <tr>
      <th width="48" align="center"><a href="javascript:;" onclick="selectCart(this);">全选</a></th>
      <th colspan="2" align="left">商品信息</th>
      <th width="84" align="left">单价</th>
      <th width="104" align="center">数量</th>
      <th width="104" align="left">金额(元)</th>
      <th width="84" align="center">积分</th>
      <th width="54" align="center">操作</th>
    </tr>
    @foreach(var item in Model){
    <tr>
      <td align="center">
        <input type="checkbox" name="checkall" class="checkall" onclick="selectCart();" />
        <input name="hideArticleId" type="hidden" value="@item.ID" />
        <input name="hideGoodsId" type="hidden" value="@item.GoodsInfoID" />
        <input name="hideStockQuantity" type="hidden" value="@item.GoodsInfo.GoodsNum" />
        <input name="hideGoodsPrice" type="hidden" value="@item.GoodsInfo.GoodsPrice" />
        <input name="hidePoint" type="hidden" value="400" />
      </td>
      <td width="68">
        <a target="_blank" href="/HomePage/Details/@item.GoodsInfoID">
            @{
                var goods = item.GoodsInfo.ImageMenu;
                                        if (!string.IsNullOrEmpty(goods))
                                        {
                                            var img = goods.Split(',');
                                            <img src="@(img[0])" class="img"/>
                                        }
                                        else
                                        {
                                             <img src="@(goods)" class="img"/>
                                        }
                                    }
        </a>
      </td>
      <td>
        <a target="_blank" href="/HomePage/Details/@item.GoodsInfoID">@item.GoodsInfo.GoodsName</a>
        <p class="stxt">颜色：黑色</p>
      </td>
      <td>
        ￥@item.GoodsInfo.GoodsPrice
      </td>
      <td align="center">
        <div class="buy-box">
          <a href="javascript:;" class="reduce" onclick="updateCart(this, '/', -1);">-</a>
          <input type="text" name="goodsQuantity" class="input" value="@item.GoodsNum" onblur="updateCart(this, '/');" onkeydown="return checkNumber(event);" />
          <a href="javascript:;" class="subjoin" onclick="updateCart(this, '/', 1);">+</a>
        </div>
      </td>
      <td>
        <span class="red">
            @{var money = item.GoodsNum * item.GoodsPrice;}
          ￥<label name="amountCount">@money</label>
        </span>
      </td>
      <td align="center">
        <label name="pointCount">
          
            +
          800
        </label>
      </td>
      <td align="center">
        <a onclick="deleteCart('/', this);" href="javascript:;">删除</a>
      </td>
    </tr>
    }
   
    
    <tr>
      <th colspan="8" align="right">
        已选择商品 <b id="totalQuantity" class="red">0</b> 件 &nbsp;&nbsp;&nbsp;
        商品总金额（不含运费）：<span class="red">￥</span><b id="totalAmount" class="red">0</b>元
      </th>
    </tr>
  </table>
  
  <div class="cart-foot">
    <div class="left btn-box">
      <a href="javascript:;" onclick="selectCart(this);">全选</a>
      <a href="javascript:;" onclick="deleteCart('/');">清空购物车</a>
    </div>
    <div class="right">
      <button class="btn" onclick="javascript:location.href='/homepage/index';">继续购物</button>
      <button class="btn btn-success" onclick="cartSubmitID();">立即结算</button>
    </div>
  </div>
</div>
   
    <script src="~/Content/templates/main/js/cart.js"></script>
    
    }