@model IEnumerable<HNCJ.Model.GoodsType>

@{
    ViewBag.Title = "帮吆喝系统-详细列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>
@section Content{
 <div class="section clearfix">
     <div class="line30"></div>
    <div style="float:left;">
        <img src="~/Content/templates/main/images/cc.png" style="height:50px;" />
    </div>
    <div style="float:right;">
        
        <input name="value" type="text" class="input txt" value="@ViewBag.Value" style="border:2px solid #0094ff;" placeholder="吆喝一下你想要的^_^" />
         <a  href="javascript:void(0)"class="btn" onclick="seach();" >搜索</a>
        <a href="/HomePage/Message" class="btn btn-success" target="_blank">免费发布信息</a>
    </div>
        <script type="text/javascript">
            function seach() {
                var text = $("input[name=value]").val();
                if (text == "") {
                    return false;
                }
                window.location.href = "/homepage/list?value=" + text;
            }
        </script>
</div>
   
    <div class="section clearfix nav">
        <div class="nav_inner">
            <ul>
                 @foreach (var item in Model) {
                <li><a href="@item.Url?typeId=@item.ID " title="@item.TypeName"><span class="yinwen">@item.English</span><span class="zhongwen">@item.TypeName</span></a></li>
                 }
            </ul>

        </div>
        <div class="line5"></div>
    </div>
    <!--导航-->

    <div class="section clearfix">
  <!--焦点图-->
  <div class="wrapper clearfix"  >
    <div class="sidebar-left" >
      <div class="focusbox">
        <ul class="slides">
          @foreach(var item in ViewData["Focus"] as List<HNCJ.Model.FocusPicture>){
          <li>
            <a title="@item.Title" href="@item.Url">
              <span class="note-bg"></span>
              <span class="note-txt">@item.Title</span>
              <img src="@item.ImagePath"  />
            </a>
          </li>
          }
            
        </ul>
      </div>
    </div>
    <!--/焦点图-->
  </div>
</div>
    <link href="~/Content/jquery-easyui-1.3.6/pageBar.css" rel="stylesheet" />
     <div class="section clearfix">
          <div class="wrapper igoods clearfix" style="overflow:visible;">
            <div class="img-list2">
              <ul>

                 @foreach (var goods in ViewBag.Goods as List<HNCJ.Model.GoodsInfo>)
                 {
                 <li>
                          <div class="wrap-box">
                            <div class="img-box">
                              <a title="@goods.GoodsName" href="/HomePage/Details/@goods.ID">
                                @{
                                        if (!string.IsNullOrEmpty(goods.ImageMenu))
                                        {
                                            var img = goods.ImageMenu.Split(',');
                                            <img src="@(img[0])"/>
                                        }
                                        else
                                        {
                                             <img src="@(goods.ImageMenu)"/>
                                        }
                                    }
                              </a>
                            </div>
                            <div class="info">
                              <h3><a title="@goods.GoodsName" href="/HomePage/Details/@goods.ID">@goods.GoodsName</a></h3>
                              <div class="col">
                                <b>闲置物品</b>
                              </div>
                              <div class="col">
                                <i>浏览：@goods.GoodsNum 次</i>
                                时间：@goods.RegTime
                              </div>
                            </div>
                          </div>
                        </li>
                  }
                </ul>
            </div>

          </div>
         <div class="page_nav">
         @Html.Raw(HNCJ.Common.PageBar.GetPageBars(ViewBag.pageIndex,ViewBag.Size,ViewBag.typeId,ViewBag.Value))
        </div>
         </div>
    
    }