@model HNCJ.Model.GoodsInfo

@{
    ViewBag.Title = "帮吆喝系统-发布信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Message</h2>
@section header{
    <link href="~/Content/zyupload/skins/zyupload-1.0.0.min.css" rel="stylesheet" />
    <script src="~/Content/zyupload/zyupload-1.0.0.min.js"></script>

    <script type="text/javascript">
        $(function() {
            // 初始化插件
            $("#zyupload").zyUpload({
                width: "700px", // 宽度
                height: "400px", // 高度
                itemWidth: "140px", // 文件项的宽度
                itemHeight: "115px", // 文件项的高度
                url: "/UserDoAction/Upload", // 上传文件的路径
                fileType: ["jpg", "png"], // 上传文件的类型
                fileSize: 51200000, // 上传文件的大小
                multiple: true, // 是否可以多个文件上传
                dragDrop: true, // 是否可以拖动上传文件
                tailor: true, // 是否可以裁剪图片
                del: true, // 是否可以删除文件
                finishDel: false, // 是否在上传文件完成后删除预览
                /* 外部获得的回调接口 */
                onSelect: function(selectFiles, allFiles) { // 选择文件的回调方法  selectFile:当前选中的文件  allFiles:还没上传的全部文件
                },
                onDelete: function(file, files) { // 删除一个文件的回调方法 file:当前删除的文件  files:删除之后的文件
                },
                onSuccess: function (file, response) { // 文件上传成功的回调方法
                    var str = eval('(' + response + ')');
                    var old = $("#ImageMenu").val();
                    if (old != null && old !== "") {
                        $("#ImageMenu").attr('value', old + "," + str);
                    } else {
                        $("#ImageMenu").attr('value', str);
                    }
                },
                onFailure: function(file, response) { // 文件上传失败的回调方法
                    dialog({ title: '提示', content: "此文件上传失败", okValue: '确定', ok: function() {} }).width(300).showModal();
                },
                onComplete: function(response) { // 上传完成的回调方法

                }
            });

        });

    </script>

    <style type="text/css">
        .width {
            width: 200px;
        }

        .btn0 {display: inline-block;padding-top: 5px;color: #fff;font-size: 12px;height: 25px;width: 40px;text-align: center; }
        .btn0 {background: #1e7bb3;border: 1px solid #02598E;border-radius: 2px;vertical-align: middle; }
        .btn0:hover {color: #fff;opacity: 0.9; }
    </style>
}
@section Content{
  <div class="section clearfix">
      <div class="line30"></div>
      <div class="info-wrap">
                @*<!--左侧导航-->
                <div class="info-box" style="height:500px;">    
                </div>
                <!--/左侧导航-->*@
                <!--右侧内容-->
         <div class="home-box" style="margin-left:30px;">           
            <div class="u-tab-content">
            <div class="title-div">
                      <strong>发布信息</strong>
                    </div>
                
            <form action="/goodsmanage/goodsinfos/save" data-ajax="true" data-ajax-method="post" data-ajax-success="submitsuccess" id="form0" method="post">                  
                <div class="form-box">
                          <dl>
                            <dt>名称：</dt>
                              <dd>
                                  @Html.TextBoxFor(u=>u.GoodsName,new{@class="input txt"})
                                  @Html.HiddenFor(u=>u.ImageMenu)
                                  @Html.HiddenFor(u=>u.ID)
                                  @Html.HiddenFor(u=>u.UserInfoID)
                                  @Html.HiddenFor(u=>u.RegTime)
                                  @Html.HiddenFor(u=>u.Status)
                                  @Html.HiddenFor(u=>u.ModfiedOn)
                                  @Html.HiddenFor(u=>u.Status)
                            </dd>
                          </dl> 
                          <dl>
                              <dt>类别：</dt>
                              <dd>
                                   @Html.DropDownList("GoodsTypeID", new SelectList(ViewBag.GoodstypeList as System.Collections.IEnumerable, "ID", "TypeName"), new { Class = "select " })
                              </dd>

                          </dl>
                          <dl>
                            <dt>价格：</dt>
                            <dd>
                              @Html.TextBoxFor(u=>u.GoodsPrice,new{@class="input txt"})
                            </dd>
                          </dl> 
                           
                          <dl>
                            <dt>数量：</dt>
                            <dd>
                              
                                <table>
                                    <tr><td rowspan="2">
                                        @Html.TextBoxFor(u=>u.GoodsNum,new{@class="input small",id="commoditySelectNum"})
                                        </td>
                                        <td><a class="p1 add" onclick="addCartNum(1);">+</a></td></tr>
                                    <tr><td><a class="p1 remove" onclick="addCartNum(-1);">-</a></td></tr>
                                </table>
                                
                                
                              
                            </dd>
                          </dl>  
                       
                          <dl>
                            <dt>地址：</dt>
                            <dd>
                               @Html.TextBoxFor(u=>u.GoodsAddress,new{@class="input txt"})
                            </dd>
                          </dl>
                    <dl>
                        <dt>说明：</dt>
                        <dd><textarea name="GoodsRemark" style="width: 700px; height: 80px; visibility: hidden;"></textarea>
                        </dd>
                    </dl>
                     <dl>
                        <dt>上传图片：</dt>
                        <dd>                    <div id="zyupload"></div> 

                        </dd>
                    </dl>
                          <dl>
                            <dt></dt>
                            <dd><input type="submit" class="btn btn-success" id="submit1"   value="发布信息" /></dd>
                          </dl>  
                </div>  
            </form>

         </div>
         </div>
                <!--/右侧内容-->
      </div>
</div>
    <style type="text/css">
         input.error { border: 1px solid red; }
        label.error {
            padding-left: 16px;
            padding-bottom: 2px;
            font-weight: bold;
            color: red;
        }
         .p1 {
             display: block;

             margin-bottom: 4px;
             width: 15px;
             height: 12px;
             line-height: 12px;
             color: #333;
             font-size: 11px;
             text-align: center;
             border: 1px solid #e8e8e8;
             cursor: pointer;
             overflow: hidden;
         }
        .p2 {
            display: block;
            float: left;
            margin-bottom: 4px;
            width: 15px;
            height: 12px;
            line-height: 12px;
            color: #333;
            font-size: 11px;
            text-align: center;
            border: 1px solid #e8e8e8;
            cursor: pointer;
            overflow: hidden;
        }
    </style>
    <link href="~/Content/kindeditor/themes/default/default.css" rel="stylesheet" />
    <script src="~/Content/kindeditor/kindeditor-min.js"></script>
    <script src="~/Content/kindeditor/lang/zh_CN.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
            var editor;
            KindEditor.ready(function (K) {
                editor = K.create('textarea[name="GoodsRemark"]', {
                    resizeType: 0,
                    uploadJson: '/Content/kindeditor/asp.net/upload_json.ashx',
                    fileManagerJson: '/Content/kindeditor/asp.net/file_manager_json.ashx',
                    allowFileManager: true,
                    allowPreviewEmoticons: false,
                    allowImageUpload: true,
                    afterBlur: function () {  //利用该方法处理当富文本编辑框失焦之后，立即同步数据
                        this.sync();
                    },
                    items: [
                        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                        'insertunorderedlist', '|', 'emoticons', 'image', 'link']
                });
            });
            function submitsuccess(data) {
                if (data.status == 1) {
                    dialog({ title: '提示', content: "发布信息成功", okValue: '确定', ok: function () { } }).width(300).showModal();
                    window.location.href = "/homepage/index";

                } else {
                    dialog({ title: '提示', content: data.msg, okValue: '确定', ok: function () { } }).width(300).showModal();
                }
            }
            $(function () {
                $("#button1").click(function () {
                    ajaxFileUpload();
                });
                $("#form0").validate({
                    rules: {
                        GoodsName: {
                            required: true,
                            minlength: 2
                        },
                        GoodsPrice: {
                            required: true,
                            number:true
                        },
                        GoodsRemark: {
                            required: true
                        }
                    },
                    messages: {
                        GoodsName: {
                            required: "*商品名必填",
                            minlength: "不能小于2个字符"
                        },
                        GoodsPrice: {
                            required: "*价格必填",
                            number: "请输入合法的数字"
                        },
                        GoodsRemark: {
                            required: "*必填"
                        }
                    }
                });
            });
            
            
            function addCartNum(num) {
                var numObj = $("#commoditySelectNum");
                var selectNum = 0;
                if (numObj.val().length > 0) {
                    selectNum = parseInt(numObj.val());
                }
                selectNum += num;
                //最小值
                if (selectNum < 1) {
                    selectNum = 1;
                }
                
                numObj.val(selectNum);
            }
            </script>
    }
