@model HNCJ.Model.ActionItem
@{
    Layout =null;
}
    <div   style="width:100%;max-width:400px;padding:30px 60px;">
		<form id="ff" method="post" action="/BaseInfo/PermissionItem/save" >
		    <div style="margin-bottom: 20px">
		        @Html.TextBoxFor(u=>u.ActionItemName,new{@class="easyui-textbox",@style="width: 100%",@data_options="label:'名称:',required:true"})
		    </div>
            <div style="margin-bottom:20px">
                @Html.TextBoxFor(u=>u.ActionItemNo,new{@class="easyui-textbox",@style="width: 100%",@data_options="label:'编号:',required:true"})
			</div>
			<div style="margin-bottom:20px">
                @Html.TextBoxFor(u=>u.Sort,new{@class="easyui-textbox",@style="width: 100%",@data_options="label:'排序号:',required:true"})
			</div>
            
			
            @Html.HiddenFor(u=>u.ID)
            @Html.HiddenFor(u=>u.ActionInfoID)
            @Html.HiddenFor(u=>u.DelFlag)
            @Html.HiddenFor(u=>u.RegTime)
            @Html.HiddenFor(u=>u.ModfiedOn)

		</form>
	</div>