@model HNCJ.Model.WFTemp
@{
    Layout =null;
}

    <div   style="width:100%;max-width:400px;padding:30px 60px;">
		<form id="ff" method="post" action="/workflow/WFTemp/save">
            <div style="margin-bottom:20px">
                @Html.TextBoxFor(u => u.TempName, new {@class="easyui-textbox",@style="width:100%",@data_options="label:'名称:',required:true" })
			</div>
			<div style="margin-bottom:20px">
                @Html.TextBoxFor(u => u.ActivityType, new {@class="easyui-textbox",@style="width:100%",@data_options="label:'流程类型:',required:true" })
			</div>
            <div style="margin-bottom:20px">
                @Html.TextBoxFor(u => u.Remark, new {@class="easyui-textbox",@style="width:100%",@data_options="label:'备注:',required:true" })
			</div>
             <div style="margin-bottom:20px">
                @Html.TextBoxFor(u => u.Description, new {@class="easyui-textbox",@style="width:100%;height:60px",@data_options="label:'工作流流转描述:',required:true,multiline:true" })
			</div>
            
            <div style="margin-bottom:20px">
                @Html.TextBoxFor(u => u.TempForm, new {@class="easyui-textbox",@style="width:100%;height:60px",@data_options="label:'工作流表单:',required:true,multiline:true" })
			</div>
            
            
			@Html.HiddenFor(u=>u.ID)
			@Html.HiddenFor(u=>u.DelFlag)
            @Html.HiddenFor(model => model.SubTime)

		</form>
	</div>
    