@model HNCJ.Model.Payment
@{
    Layout =null;
}

    <div   style="width:100%;max-width:400px;padding:30px 60px;">
		<form id="ff" method="post" action="/OrderManage/Payment/save">
            <div style="margin-bottom:20px">
                @Html.TextBoxFor(u => u.PaymentName, new {@class="easyui-textbox",@style="width:100%",@data_options="label:'名称:',required:true" })
			</div>
			<div style="margin-bottom:20px">
                @Html.TextBoxFor(u => u.APIURL, new {@class="easyui-textbox",@style="width:100%",@data_options="label:'API:',required:true" })
			</div>
             
            
            
			@Html.HiddenFor(u=>u.ID)
			@Html.HiddenFor(u=>u.RegTime)
			@Html.HiddenFor(u=>u.ModfiedOn)
			@Html.HiddenFor(u=>u.DelFlag)
       

		</form>
	</div>
    